<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lesson2: Propositional Connectives and Truth Tables</title>
    <link rel="stylesheet" href="../../main/resources/bootstrap5/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="StudyPage.html"><img src="../media/logic.png" width="64" height="64" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="StudyPage.html">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Lessons
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item" href="LessonOne.html">Lesson1: Introduction to Propositional Logic</a>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <a class="dropdown-item" href="LessonTwo.html">Lesson2: Propositional Connectives and Truth Tables</a>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <a class="dropdown-item" href="LessonThree.html">Lesson3: Logical Equivalence and Laws of Propositional Calculi</a>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <a class="dropdown-item" href="LessonFour.html">Lesson4: Propositional Proof and Deduction</a>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <a class="dropdown-item" href="LessonFive.html">Lesson5: Applications of Propositional Logic</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <button class="btn btn-primary change" onclick="darkLight()">Dark</button>
        </div>
    </div>
</nav>
<div class="fluid-container lesson-content">
    <h1 class="my-5 text-center">Lesson 2: Propositional Connectives and Truth Tables</h1>
    <div class="fluid-container">
        <h1>Connectives</h1>
        <p>The connectives are:</p>
        <div class="table">
            <table class="table table-dark table-striped table-hover table-bordered text-white">
                <thead>
                <tr class= "tr text-center">
                    <th scope="col">Name</th>
                    <th scope="col">Symbol</th>
                    <th scope="col">Description</th>
                </tr>
                <tr class= "text-center">
                    <td class="td">
                        <span class="badge bg-danger">Negation</span>
                    </td>
                    <td class="td">
                        <span class="badge bg-primary">¬/!</span>
                    </td>
                    <td class="td">
                        <span class="badge bg-info text-dark">Not</span>
                    </td>
                </tr>
                <tr class= "text-center">
                    <td class="td">
                        <span class="badge bg-success">Conjunction</span>
                    </td>
                    <td class="td">
                        <span class="badge bg-primary">&</span>
                    </td>
                    <td class="td">
                        <span class="badge bg-info text-dark">And</span>
                    </td>
                </tr>
                <tr class= "text-center">
                    <td class="td">
                        <span class="badge bg-success">Disjunction</span>
                    </td>
                    <td class="td">
                        <span class="badge bg-primary">|</span>
                    </td>
                    <td class="td">
                        <span class="badge bg-info text-dark">Or</span>
                    </td>
                </tr>
                <tr class= "text-center">
                    <td class="td">
                        <span class="badge bg-success">Implication</span>
                    </td>
                    <td class="td">
                        <span class="badge bg-primary">=></span>
                    </td>
                    <td class="td">
                        <span class="badge bg-info text-dark">If...Then</span>
                    </td>
                </tr>
                <tr class= "text-center">
                    <td class="td">
                        <span class="badge bg-success">Equivalence</span>
                    </td>
                    <td class="td">
                        <span class="badge bg-primary"><=></span>
                    </td>
                    <td class="td">
                        <span class="badge bg-info text-dark">If and only if</span>
                    </td>
                </tr>
                </thead>
            </table>
            <div class="text-center text-light">
                <td class="td">
                    <span class="badge bg-danger">Unary Operators</span>
                    <span class="badge bg-success">Binary Operators</span>
                    <p><br>A unary operator takes a single operand(P/statement)</p>
                    <p>A Binary operator takes two operands(P and Q)</p>
                </td>
            </div>
        </div>
    </div>
    <hr>
    <div class="fluid-container">
        <h1>Negation</h1>
        <p>Given any statement p, another statement, called the negation of p, can be formed by writing “It is false....” before p or, if possible, by inserting in p the word “not”.<br>
            Symbolically,<br>
            ¬ p<br>
            Denotes the negation of p (read <b>“not p”</b>)
        </p>
        <div class="table">
            <table class="table table-dark table-striped table-hover table-bordered text-white">
                <thead>
                <tr class= "tr text-center">
                    <th scope="col">P</th>
                    <th scope="col">¬P</th>
                </tr>
                <tr class= "text-center">
                    <td class="td">
                        <span class="badge bg-success">True</span>
                    </td>
                    <td class="td">
                        <span class="badge bg-danger">False</span>
                    </td>
                </tr>
                <tr class= "text-center">
                    <td class="td">
                        <span class="badge bg-danger">False</span>
                    </td>
                    <td class="td">
                        <span class="badge bg-success">True</span>
                    </td>
                </tr>
                </thead>
            </table>
        </div>
    </div>
    <hr>
    <div class="fluid-container">
        <h1>Conjunction</h1>
        <p>Any two statements can be combined by the word “and” to form a compound statement called the conjunction of the original statements.<br>
            Symbolically,<br>
            p & q <br>
            Denotes the conjunction of the statements p and q, read <b>“p and q”</b>.
        </p>
        <div class="table">
            <table class="table table-dark table-striped table-hover table-bordered text-white">
                <thead>
                <tr class= "tr text-center">
                    <th scope="col">P</th>
                    <th scope="col">Q</th>
                    <th scope="col">P & Q</th>
                </tr>
                <tr class= "text-center">
                    <td class="td">
                        <span class="badge bg-success">True</span>
                    </td>
                    <td class="td">
                        <span class="badge bg-success">True</span>
                    </td>
                    <td class="td">
                        <span class="badge bg-success">True</span>
                    </td>
                </tr>
                <tr class= "text-center">
                    <td class="td">
                        <span class="badge bg-success">True</span>
                    </td>
                    <td class="td">
                        <span class="badge bg-danger">False</span>
                    </td>
                    <td class="td">
                        <span class="badge bg-danger">False</span>
                    </td>
                </tr>
                <tr class= "text-center">
                    <td class="td">
                        <span class="badge bg-danger">False</span>
                    </td>
                    <td class="td">
                        <span class="badge bg-success">True</span>
                    </td>
                    <td class="td">
                        <span class="badge bg-danger">False</span>
                    </td>
                </tr>
                <tr class= "text-center">
                    <td class="td">
                        <span class="badge bg-danger">False</span>
                    </td>
                    <td class="td">
                        <span class="badge bg-danger">False</span>
                    </td>
                    <td class="td">
                        <span class="badge bg-danger">False</span>
                    </td>
                </tr>
                </thead>
            </table>
        </div>
    </div>
    <hr>
    <div class="fluid-container">
        <h1>Disjunction</h1>
        <p>Any two statements can be combined by the word “or” (in the sense of “and/or”) to form a new statement which is called the disjunction of the original two statements.<br>
            Symbolically,<br>
            p | q <br>
            Denotes the disjunction of the statements p and q, read <b>“p or q”</b>.
        </p>
        <div class="table">
            <table class="table table-dark table-striped table-hover table-bordered text-white">
                <thead>
                <tr class= "tr text-center">
                    <th scope="col">P</th>
                    <th scope="col">Q</th>
                    <th scope="col">P | Q</th>
                </tr>
                <tr class= "text-center">
                    <td class="td">
                        <span class="badge bg-success">True</span>
                    </td>
                    <td class="td">
                        <span class="badge bg-success">True</span>
                    </td>
                    <td class="td">
                        <span class="badge bg-success">True</span>
                    </td>
                </tr>
                <tr class= "text-center">
                    <td class="td">
                        <span class="badge bg-success">True</span>
                    </td>
                    <td class="td">
                        <span class="badge bg-danger">False</span>
                    </td>
                    <td class="td">
                        <span class="badge bg-success">True</span>
                    </td>
                </tr>
                <tr class= "text-center">
                    <td class="td">
                        <span class="badge bg-danger">False</span>
                    </td>
                    <td class="td">
                        <span class="badge bg-success">True</span>
                    </td>
                    <td class="td">
                        <span class="badge bg-success">True</span>
                    </td>
                </tr>
                <tr class= "text-center">
                    <td class="td">
                        <span class="badge bg-danger">False</span>
                    </td>
                    <td class="td">
                        <span class="badge bg-danger">False</span>
                    </td>
                    <td class="td">
                        <span class="badge bg-danger">False</span>
                    </td>
                </tr>
                </thead>
            </table>
        </div>
    </div>
    <hr>
    <div class="fluid-container">
        <h1>Conditional (Implication)</h1>
        <p>Many statements, particularly in mathematics, are of the form “If P then Q”. Such statements are called conditional statements and are denoted by P => Q <br>
            The conditional P => Q frequently read “P <b>implies</b> Q” or “P <b>only if</b> Q”.
        </p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <table class="table table-dark table-striped table-hover table-bordered text-white">
                    <thead>
                    <tr class= "tr text-center">
                        <th scope="col">P</th>
                        <th scope="col">Q</th>
                        <th scope="col">P => Q</th>
                    </tr>
                    <tr class= "text-center">
                        <td class="td">
                            <span class="badge bg-success">True</span>
                        </td>
                        <td class="td">
                            <span class="badge bg-success">True</span>
                        </td>
                        <td class="td">
                            <span class="badge bg-success">True</span>
                        </td>
                    </tr>
                    <tr class= "text-center">
                        <td class="td">
                            <span class="badge bg-success">True</span>
                        </td>
                        <td class="td">
                            <span class="badge bg-danger">False</span>
                        </td>
                        <td class="td">
                            <span class="badge bg-danger">False</span>
                        </td>
                    </tr>
                    <tr class= "text-center">
                        <td class="td">
                            <span class="badge bg-danger">False</span>
                        </td>
                        <td class="td">
                            <span class="badge bg-success">True</span>
                        </td>
                        <td class="td">
                            <span class="badge bg-success">True</span>
                        </td>
                    </tr>
                    <tr class= "text-center">
                        <td class="td">
                            <span class="badge bg-danger">False</span>
                        </td>
                        <td class="td">
                            <span class="badge bg-danger">False</span>
                        </td>
                        <td class="td">
                            <span class="badge bg-success">True</span>
                        </td>
                    </tr>
                    </thead>
                </table>
                <p>Implication is false only in the case when the antecedent (P) is true but the consequence (Q) is false.<br>
                    The last two cases are difficult to explain.<br>
                    Basically if we consider the expression <b>if</b> P <b>then</b> Q where P is <b>false</b>, then it does not matter whether q is true or false.
                    The implication has not failed in these cases, so the resulting value is defined to be true.</p>
            </div>
            <div class="col">
                <table class="table table-dark table-striped table-hover table-bordered text-white">
                    <thead>
                    <tr class= "tr text-center">
                        <th scope="col">P</th>
                        <th scope="col">Q</th>
                        <th scope="col">¬P</th>
                        <th scope="col">(¬ P) | Q</th>
                    </tr>
                    <tr class= "text-center">
                        <td class="td">
                            <span class="badge bg-success">True</span>
                        </td>
                        <td class="td">
                            <span class="badge bg-success">True</span>
                        </td>
                        <td class="td">
                            <span class="badge bg-danger">False</span>
                        </td>
                        <td class="td">
                            <span class="badge bg-success">True</span>
                        </td>
                    </tr>
                    <tr class= "text-center">
                        <td class="td">
                            <span class="badge bg-success">True</span>
                        </td>
                        <td class="td">
                            <span class="badge bg-danger">False</span>
                        </td>
                        <td class="td">
                            <span class="badge bg-danger">False</span>
                        </td>
                        <td class="td">
                            <span class="badge bg-danger">False</span>
                        </td>
                    </tr>
                    <tr class= "text-center">
                        <td class="td">
                            <span class="badge bg-danger">False</span>
                        </td>
                        <td class="td">
                            <span class="badge bg-success">True</span>
                        </td>
                        <td class="td">
                            <span class="badge bg-success">True</span>
                        </td>
                        <td class="td">
                            <span class="badge bg-success">True</span>
                        </td>
                    </tr>
                    <tr class= "text-center">
                        <td class="td">
                            <span class="badge bg-danger">False</span>
                        </td>
                        <td class="td">
                            <span class="badge bg-danger">False</span>
                        </td>
                        <td class="td">
                            <span class="badge bg-success">True</span>
                        </td>
                        <td class="td">
                            <span class="badge bg-success">True</span>
                        </td>
                    </tr>
                    </thead>
                </table>
                <p>Observe that the above truth tables are identical. Hence, P => Q is logically equivalent to the proposition (¬P) | Q: <br>

                <p class="text-center"> P => Q ≡ (¬P) | Q <br> </p>
                In other words, the conditional statement “If P then Q” is logically equivalent to the statement “Not P
                or Q” which only involve the connectives | and ¬ and thus was already a part of our language.
                </p>
            </div>
        </div>
    </div>
    <hr>
    <div class="fluid-container">
        <h1>Bi-conditional (Equivalence)</h1>
        <p>Another common statement is of the form “P if and only if Q”. Such statements are called biconditional statements and are denoted by P <=> Q.</p>
        <div class="table">
            <table class="table table-dark table-striped table-hover table-bordered text-white">
                <thead>
                <tr class= "tr text-center">
                    <th scope="col">P</th>
                    <th scope="col">Q</th>
                    <th scope="col">P <=> Q</th>
                </tr>
                <tr class= "text-center">
                    <td class="td">
                        <span class="badge bg-success">True</span>
                    </td>
                    <td class="td">
                        <span class="badge bg-success">True</span>
                    </td>
                    <td class="td">
                        <span class="badge bg-success">True</span>
                    </td>
                </tr>
                <tr class= "text-center">
                    <td class="td">
                        <span class="badge bg-success">True</span>
                    </td>
                    <td class="td">
                        <span class="badge bg-danger">False</span>
                    </td>
                    <td class="td">
                        <span class="badge bg-danger">False</span>
                    </td>
                </tr>
                <tr class= "text-center">
                    <td class="td">
                        <span class="badge bg-danger">False</span>
                    </td>
                    <td class="td">
                        <span class="badge bg-success">True</span>
                    </td>
                    <td class="td">
                        <span class="badge bg-danger">False</span>
                    </td>
                </tr>
                <tr class= "text-center">
                    <td class="td">
                        <span class="badge bg-danger">False</span>
                    </td>
                    <td class="td">
                        <span class="badge bg-danger">False</span>
                    </td>
                    <td class="td">
                        <span class="badge bg-success">True</span>
                    </td>
                </tr>
                </thead>
            </table>
        </div>
        <p class="text-center"><br><b><=></b> - Equivalence is true if the propositions are both true or both false.
        </p>
    </div>
    <hr>
    <div class="col-md-8 lesson-card py-4 px-5 my-5">
        <h1>Exercise 2:</h1>
        <form id="Exercise2-form">
            <div class="mb-3">
                <label class="form-label">Construct the truth tables for</label>
                <div>
                    <ol style="text-align: left;">
                        <li>¬P | Q</li>
                        <li>¬(¬P & ¬Q)</li>
                        <li>¬(P => Q) </li>
                        <li>(P & Q) <=> ¬P</li>
                    </ol>
                </div>
            </div>
            <button type="submit" class="btn btn-primary" onclick="checkAnswer2()">Check Answers</button>
        </form>
        <div class="mt-3" id="feedback2"></div>
    </div>
    <hr>
    <div class="fluid-container">
        <h1>Tautology -- Contradiction -- Contingency</h1>
        <p>If an expression always results in a <b>true</b> value, the proposition is called a <b>tautology</b>.</p>
        <div style="text-align: center;">
            <b>Such like</b>
        </div>
        <table class="table table-dark table-striped table-hover table-bordered text-white">
            <thead>
            <tr class= "tr text-center">
                <th scope="col">P</th>
                <th scope="col">¬P</th>
                <th scope="col">P | ¬P</th>
            </tr>
            <tr class= "text-center">
                <td class="td">
                    <span class="badge bg-success">True</span>
                </td>
                <td class="td">
                    <span class="badge bg-danger">False</span>
                </td>
                <td class="td">
                    <span class="badge bg-success">True</span>
                </td>
            </tr>
            <tr class= "text-center">
                <td class="td">
                    <span class="badge bg-danger">False</span>
                </td>
                <td class="td">
                    <span class="badge bg-success">True</span>
                </td>
                <td class="td">
                    <span class="badge bg-success">True</span>
                </td>
            </tr>
            </thead>
        </table>
        <hr>
        <p>If an expression always results in a <b>false</b> value, the proposition is called a <b>contradiction</b>.</p>
        <div style="text-align: center;">
            <b>Such like</b>
        </div>
        <table class="table table-dark table-striped table-hover table-bordered text-white">
            <thead>
            <tr class= "tr text-center">
                <th scope="col">P</th>
                <th scope="col">¬P</th>
                <th scope="col">P & ¬P</th>
            </tr>
            <tr class= "text-center">
                <td class="td">
                    <span class="badge bg-success">True</span>
                </td>
                <td class="td">
                    <span class="badge bg-danger">False</span>
                </td>
                <td class="td">
                    <span class="badge bg-danger">False</span>
                </td>
            </tr>
            <tr class= "text-center">
                <td class="td">
                    <span class="badge bg-danger">False</span>
                </td>
                <td class="td">
                    <span class="badge bg-success">True</span>
                </td>
                <td class="td">
                    <span class="badge bg-danger">False</span>
                </td>
            </tr>
            </thead>
        </table>
        <hr>
        <p>If an expression results in both <b>true</b> and <b>false</b> values, the proposition is called a <b>contingency</b>.</p>
        <div style="text-align: center;">
            <b>Such like</b>
        </div>
        <div class="table">
            <table class="table table-dark table-striped table-hover table-bordered text-white">
                <thead>
                <tr class= "tr text-center">
                    <th scope="col">P</th>
                    <th scope="col">Q</th>
                    <th scope="col">P & Q</th>
                </tr>
                <tr class= "text-center">
                    <td class="td">
                        <span class="badge bg-success">True</span>
                    </td>
                    <td class="td">
                        <span class="badge bg-success">True</span>
                    </td>
                    <td class="td">
                        <span class="badge bg-success">True</span>
                    </td>
                </tr>
                <tr class= "text-center">
                    <td class="td">
                        <span class="badge bg-success">True</span>
                    </td>
                    <td class="td">
                        <span class="badge bg-danger">False</span>
                    </td>
                    <td class="td">
                        <span class="badge bg-danger">False</span>
                    </td>
                </tr>
                <tr class= "text-center">
                    <td class="td">
                        <span class="badge bg-danger">False</span>
                    </td>
                    <td class="td">
                        <span class="badge bg-success">True</span>
                    </td>
                    <td class="td">
                        <span class="badge bg-danger">False</span>
                    </td>
                </tr>
                <tr class= "text-center">
                    <td class="td">
                        <span class="badge bg-danger">False</span>
                    </td>
                    <td class="td">
                        <span class="badge bg-danger">False</span>
                    </td>
                    <td class="td">
                        <span class="badge bg-danger">False</span>
                    </td>
                </tr>
                </thead>
            </table>
        </div>
        <hr>
    </div>
</div>

<div class="container text-center">
    <div class="row justify-content-center">
        <div class="col-md-8 lesson-card py-4 px-5 my-5">
            <p>In the next lesson, we will cover logical equivalence in more detail.</p>
            <a href="LessonThree.html" class="btn btn-primary mt-4">Next: Lesson3: Logical Equivalence</a>
        </div>
    </div>
</div>
</div>
<script src="../../main/resources/bootstrap5/dist/js/bootstrap.bundle.min.js"></script>
<script src="script.js"></script>
</body>
</html>
